@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.testimonials {
  padding: $py $px 120px;

  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  &-card {
    .card-title {
      color: $space-cadet;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }

  &-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    color: $saffron;
  }

  &-text {
    font-size: $fs-4;
    color: $rhythm;
    line-height: 1.4;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
  }

  .section {
    &-title {
      margin-bottom: 15px;
    }

    &-text {
      margin-bottom: 50px;
    }
  }
}

.customer {
  &-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &-img-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  &-img {
    @include img-cover;
  }

  &-name {
    font-size: 14px;
    color: $space-cadet;
    font-weight: 600;
  }
}

// Responsive styles
@include mobile-up {
  .testimonials {
    max-width: 550px;
    margin-inline: auto;
  }
}

@include tablet-up {
  .testimonials {
    max-width: 720px;

    &-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@include laptop-up {
  .testimonials {
    max-width: 950px;
    padding-bottom: 200px;
  }
}

@include desktop-up {
  .testimonials {
    max-width: 1150px;
  }
}
