$red-orange-crayola: hsl(0, 100%, 66%);
$space-cadet: hsl(249, 37%, 19%);
$pistachio: hsl(88, 50%, 60%);
$cultured: hsl(220, 13%, 95%);
$saffron: hsl(45, 91%, 58%);
$rhythm: hsl(240, 9%, 51%);
$white: hsl(0, 0%, 100%);

$fs-1: 46px;
$fs-2: 28px;
$fs-3: 18px;
$fs-4: 15px;
$fs-5: 14px;
$fs-6: 13px;

$px: 30px;
$py: 60px;

$default-transition: 0.75s ease;
