@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 20px 30px;
  background: hsla(0, 0%, 100%, 0.99);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
  z-index: 5;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  background: hsla(0, 0%, 100%, 0.9);
  position: absolute;
  top: 91px;
  left: 0;
  width: 100%;
  height: calc(100vh - 91px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 35px;
  backdrop-filter: blur(10px);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease-in-out;

  &.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.nav-link {
  color: $space-cadet;
  font-size: $fs-5;
  transition: 0.25s ease;

  &:hover {
    color: $saffron;
  }
}

.navbar-btn-group {
  display: flex;
  align-items: center;
  gap: 25px;
}

.shopping-cart-btn {
  position: relative;
  background: $cultured;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  @include flex-center;
  border: 2px solid $white;

  .count {
    background: $saffron;
    position: absolute;
    top: -2px;
    right: -2px;
    height: 20px;
    min-width: 20px;
    @include flex-center;
    padding: 0 7px;
    border-radius: 20px;
    color: $space-cadet;
    font-size: 12px;
    font-weight: 500;
  }
}

.menu-toggle-btn {
  display: flex;
  flex-direction: column;
  width: 20px;
  gap: 5px;

  .line {
    background: $space-cadet;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    transition: 0.25s ease;
  }

  &.active {
    .one {
      transform: translateY(7px) rotate(-45deg);
    }

    .two {
      transform: rotate(45deg);
    }

    .three {
      transform: translateY(-7px) rotate(-45deg);
    }
  }
}

.cart-box {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 400px;
  width: 100%;
  height: calc(100vh - 91px);
  background: hsla(0, 0%, 100%, 0.9);
  box-shadow: -1px 1px 3px 0 hsla(0, 0%, 0%, 0.05);
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  visibility: hidden;
  z-index: 10;
  transition: 0.5s ease-in-out;

  &.active {
    transform: translateX(0);
    visibility: visible;
  }
}

.cart-box-ul {
  height: 100%;
  padding: 30px;
  padding-bottom: 120px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.cart-h4 {
  color: $space-cadet;
  margin-bottom: 30px;
  font-weight: 600;
}

.cart-item {
  background: $cultured;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .img-box {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    overflow: hidden;
  }

  .product-img {
    @include img-cover;
    transition: $default-transition;
  }

  &:hover .product-img {
    transform: scale(1.05);
  }

  .product-name {
    color: $space-cadet;
    font-size: $fs-5;
    font-weight: 600;
    width: calc(100% - 135px);
  }

  .product-price {
    background: $saffron;
    color: $space-cadet;
    font-weight: 500;
    width: 60px;
    height: 60px;
    @include flex-center;

    .small {
      display: inline-block;
      font-size: 10px;
      font-weight: 400;
      margin-top: 5px;
    }
  }
}

.cart-btn-group {
  background: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  z-index: 15;
}

// Responsive styles
@media (min-width: 570px) {
  .navbar-wrapper {
    max-width: 550px;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  .cart-item .product-price {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 35px 30px;
  }

  .navbar-wrapper {
    max-width: 950px;
  }

  .navbar-nav {
    position: static;
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
    transform: translateY(0);
    padding: 0;
    flex-direction: row;
    gap: 50px;
    pointer-events: all;
  }

  .menu-toggle-btn {
    display: none;
  }

  .cart-box {
    max-width: 450px;
    height: calc(100vh - 121px);
  }

  .cart-box-ul {
    padding: 60px;
    padding-bottom: 150px;
  }

  .cart-btn-group {
    padding: 30px 60px;
  }
}

@media (min-width: 1200px) {
  .navbar-wrapper {
    max-width: 1150px;
  }
}
